body {
    font-family: "Oswald", sans-serif;
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(7,113,49,1) 100%, rgba(0,212,255,1) 100%); 
    color: white;
  }

  a {
    color: black;
    text-decoration: none;
    padding: 20px 0;
  }

  a:hover {
    color: violet;


  }

  .navegacion-principal__marca {
    width: 50px;
    
  }

  .cabecera {
    text-align: center;
    padding: 50px 20px;
    background: url("/img/1-Header.jpg") no-repeat center center/cover;
  }

  .boton {
    display: inline-block;
    padding: 10px 20px;
    background: #262626;
    color: #fff;
    border: 5px inset violet;
    margin-top: 20px;
  }

  .boton:hover {
    opacity: 15;
    
  }

  .banner {
    padding: 50px 20px;
    text-align: center;
    opacity: 0.9;
    
  }

  .banner-tarjetas-uno {
    background: url("/img/1-Banner.jpg") no-repeat center center/cover;
    
  }

  .banner-tarjetas-dos {
    background: url("/img/2-Banner.jpg") no-repeat center center/cover;
  }
  .spaced-div {
    margin-bottom: 20px; /* Ajusta este valor según el espaciado deseado */
  }
  .social a i {
    font-size: 3rem;
  }

  

  .pie {
    background: rgb(238,174,202);
    background: radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(231,179,197,1) 9%, rgba(158,233,148,1) 100%); 
    color: black;
    text-align: center;
    padding: 20px 0;
  }

  .btn-block {
    color: black;


  } 

  .btn-block:hover{
    color: gold;

  }

  #tbody {
    color:white ;


  }

  th {
    color: mediumspringgreen; 

  }

  
 